fastapi
uvicorn
pydantic
pydantic-settings
email-validator

sqlalchemy
alembic
psycopg[binary]
pgvector

python-dotenv

passlib[bcrypt]
pwdlib[argon2]

python-jose[cryptography]

python-multipart

loguru

chromadb

ollama

httpx

# Semantic embeddings
sentence-transformers

# Document processing
python-docx==1.2.0
pypdf

# Testing
pytest
pytest-asyncio

# Google integrations
google-api-python-client
google-auth
