fastapi
uvicorn
pydantic
pydantic-settings
email-validator

sqlalchemy
alembic
psycopg[binary]
pgvector

python-dotenv

passlib[bcrypt]
pwdlib[argon2]

python-jose[cryptography]

python-multipart

loguru

chromadb

ollama

httpx

pytest

google-api-python-client
google-auth
